<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.positive.daymotion">
	
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.location.gps" />
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.CAMERA" />
	
	<application
		android:name=".DmApplication"
		android:allowBackup="true"
		android:fullBackupContent="false"
		android:icon="@mipmap/app_icon"
		android:label="@string/app_name"
		android:requestLegacyExternalStorage="true"
		android:roundIcon="@mipmap/app_icon_round"
		android:supportsRtl="false"
		android:theme="@style/AppTheme">
		
		<activity
			android:name=".presentation.start.StartActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".presentation.dispatch.DispatchActivity"
			android:launchMode="singleTask"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				
				<data android:scheme="positive" />
			</intent-filter>
		</activity>
		<activity
			android:name="org.positive.daymotion.presentation.home.HomeDetailActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name="org.positive.daymotion.presentation.login.LoginActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".presentation.root.RootActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".presentation.main.MainActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".presentation.feed.FeedActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".presentation.category.activity.CategoryDetailActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".presentation.my.activity.MyProfileEditActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize" />
		<activity
			android:name=".presentation.setting.PrivacyPolicyActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".presentation.setting.ServiceTermsActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".presentation.terms.TermsActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".presentation.upload.activity.FeedUploadActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustPan" />
		<activity
			android:name=".presentation.upload.activity.UploadFeedTextEditActivity"
			android:screenOrientation="portrait"
			android:theme="@style/AppTransparentTheme"
			android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
		<activity
			android:name=".presentation.home.activity.PostListActivity"
			android:screenOrientation="portrait" />
	</application>

</manifest>
